*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-size:auto;
    background-position: center;
    background-image: url(../assets/mohammad-alizade-S5uV7ro4UPY-unsplash.jpg);
}
/* header and nav bar */
header{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
    margin: 50px;
    border-bottom: 1px solid #fff;

}
header h1{
    font-size: 95px;
    font-style: italic;
    color: white;
}
header div ul a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    margin-left: 25px;

}
a:hover{
    text-decoration: underline;
    font-weight:bolder
}

.About{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    
}
.About p{
    padding: 20px;
    font-size: 18px;
}
/* bio */
.my-bio{
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.bio{
    margin: 20px;
    color: #fff;
    text-align: center;
    flex: 1;
    border: 1px solid #fff;
    padding: 15px;
}
.bio-info{
    padding: 23px;
    line-height: 1.4;
}
.bio img{
    width: 46%;
}
.bio h2{
    padding: 9px;
    font-size: 29px;
}
.bio h3{
    padding: 10px;
}
/* work section */
.work{
    margin: 20px ;
    padding-top: 30px;
    width: 100%;
    display: flex;
   flex-wrap: wrap; 
    /* /* flex-direction: row-reverse; */
    /* align-items: center;  */
    justify-content:center;
    text-align: center;
}
.work img{
width: 38%;
}
.work img:hover{
    border: 3px solid yellow;
    width: 45%;
}
.info{
    margin: 3%;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
}
.info h3{
    font-size: 45px;
    font-style: italic;
    padding-bottom: 20px;
}
/* socials */
.contact{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
    align-items: center;
    padding: 50px;
    text-align: center;
}
.contact img{
    width: 20%;
    padding: 15px;
}
.email{
    padding-bottom: 30px;
}
.email h3{
    font-size: 20px;
    padding-bottom: 10px;
}